<h1>Ajout Profil</h1>
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
<table>
    <tr>
        <td>{{ form_label(form.nom,"Nom") }}</td>
        <td>{{ form_widget(form.nom) }}</td>
        <td>{{ form_errors(form.nom) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.prenom,"Prenom") }}</td>
        <td>{{ form_widget(form.prenom) }}</td>
        <td>{{ form_errors(form.prenom) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.username,"username") }}</td>
        <td>{{ form_widget(form.username) }}</td>
        <td>{{ form_errors(form.username) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.password,"Password") }}</td>
        <td>{{ form_widget(form.password) }}</td>
        <td>{{ form_errors(form.password) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.role,"role") }}</td>
        <td>{{ form_widget(form.role) }}</td>
        <td>{{ form_errors(form.role) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.email,"Email") }}</td>
        <td>{{ form_widget(form.email) }}</td>
        <td>{{ form_errors(form.email) }}</td>
    </tr>
    <tr>
        <td>{{ form_label(form.age,"Age") }}</td>
        <td>{{ form_widget(form.age) }}</td>
        <td>{{ form_errors(form.age) }}</td>
    </tr>




</table>
{{ form_widget(form.Ajouter) }}
    {{ form_end(form) }}